In [3]:
from modelo import CotizacionHistorica
from datetime import date
historico = CotizacionHistorica("data/aapl_5y.csv")
historico.cotizaciones(date(2025, 6, 1), date(2025, 6, 12))

        Date  Close/Last    Volume    Open    High       Low
0 2025-06-12      199.20  43904640  199.08  199.68  197.3601
1 2025-06-11      198.78  60989860  203.50  204.50  198.4100
2 2025-06-10      202.67  54672610  200.60  204.35  200.5700
3 2025-06-09      201.45  72862560  204.39  206.00  200.0200
4 2025-06-06      203.92  46607690  203.00  205.70  202.0500
5 2025-06-05      200.63  55221240  203.50  204.75  200.1500
6 2025-06-04      202.82  43603990  202.91  206.24  202.1000
7 2025-06-03      203.27  46381570  201.35  203.77  200.9550
8 2025-06-02      201.70  35423290  200.28  202.13  200.1200